* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
} 

body {
	background-image: url("../images/clouds.png");
	/*
		Struggled with this for HOURS. 
		The relative referencing done in here is based on the location of THIS file. 
		NOT the location of the html file, hence it would not be /assets/images/clouds.png
	*/
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	/* I added this out of my own volition. I LIKE IT. I need sleep.*/
}

.container {
	/* 
		In order to center the container we must specify a width. 
		This allows the container to automcatically adjust based on the size of the browser.
		If you don't specify a width the container will take up a width of a 100%, and you won't see any change.
	*/
	width: 960px;
	margin: 0 auto;
}

header {
	width: 100%;
	/* 
		Still not completely sure why we need to set the width of this element.
		I am aware that this 100% is relative to the size of the parent element so it should take up the whole width of the browser.
		However, is it not necessary because the header is a block element, and therefore takes up an entire "line"?
		Note to self: play with this later.
	*/
	height: 102px;
	border-bottom: 2px solid #cccccc;
	background-color: #ffffff;
}

#main-logo {
	float: left;
}

#heading-logo {
	height: 100px;
	padding: 32px;
	background-color: #4aaaa5;
	color: #ffffff;
}

.headings {
	padding: 32px 0;
	color: #4aaaa5;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	/*	Place fonts in quotes if they have spacing (Times New Roman) */
}

#nav-bar {
	float: right;
	padding: 41px 0;
}

#nav-bar ul {
	list-style: none;
}

#nav-bar li {
	float: left;
}

#nav-bar li ~ li {
/*	
	ul ~ p
	This selects every p that is preceded by ul
	In this instance it makes sure that there is a margin-left only on the Portfolio and the Contact links
	BECAUSE they are preceded by a link, About and Portfolio respectively
*/
	border-left: 1px solid #cccccc;
}

#nav-bar a, aside a, #portfolio-section a {
/* 	
	Incase there are future links that I will want the default text-decoration
	I use this instead of just "a"
*/	
	text-decoration: none;
	/* This also has an effect on the image links in the aside element. */
}

#nav-bar a {
	color: #666666;
	padding: 5px 10px;
}

#nav-bar a:visited {
	color: #666666;
}

#nav-bar a:hover {
	background-color: #377F7C;
	color: whitesmoke;
}

main {
	clear: both;
	/*
		Because I used floating elements in the header, 
		I should clear to both the left and right side so I don't get the main up in the header.
	*/
	margin: 40px 0;	
}

section {
	width: 650px;
	padding: 6px 32px;
	border: 1px solid #dddddd;	
	background-color: #ffffff;
	min-height: 500px;
	float: left;
}

.section-content {
	margin: 32px 0 25px 0;
}

#image-aboutme {
	float: left;
	margin-right: 25px;	
	width: 200px;
}

section p {
	margin: 24px 0 25px 0;
	line-height: 2;
}

aside {
	width: 270px;
	padding: 6px 32px;
	border: 1px solid #dddddd;
	margin-left: 40px;
	background-color: #ffffff;
	text-align: center;
	float: left;
	/* I aligned this center because it looks better this way. */
}

aside .headings {
	padding: 28px 0 22px 0;
}

.image-logo {
	width: 62px;
	height: 62px;
	margin: 26px 0;
}

/* contact.html style specific */
section input, section textarea {
	width: 100%;
	padding: 7px;
	margin: 6px 0;
	font-size: 13px;
}

#input-message {
	width: 100%;
	height: 172px;
	resize: vertical;
}

#submit-button {
	width: 91px;
	height: 34px;
	border: none;
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 16px;
}
/* ^^^contact.html style specific^^^ */

/* portfolio.html style specific */
 #portfolio-section img {
 	position: relative;
 	top: -100px;
 	z-index: 1;
 	width: 275px;
 	height: 205px;	
 }

 #portfolio-section {
 	overflow: hidden;
 }

.right-divs {
	position: relative;
	left: 34px;
}

#portfolio-section div {
	float: left;
	height: 205px;
	margin-bottom: 40px;
	text-align: center;
}

#portfolio-section p {
	position: relative;
	top: 100px;
	z-index: 4;
	padding: 10px;
	background-color: #4aaaa5;
	color: #ffffff;
}
/* ^^^portfolio.html style specific^^^ */
footer {
	clear: both;
	width: 100%;
	border-top: 6px solid #4aaaa5;
	background-color: #666666;
	color: #ffffff;
	text-align: center;
	/* 
	This is the code for the sticky footer (I just didn't want it)
	position: fixed;
	bottom: 0;
	*/	
}

footer p {
	height: 102px;
	padding: 35px 0 35px 0;
	margin: 0;
}

/* Added Media Queries Below */
/* These handle index */
@media screen and (max-width: 980px) {
	section {
		width: 450px;
	}

	aside {
		width: 278px;
	}

	.container {
		width: 768px;
	}

	#image-aboutme {
		width: 100%;
		margin-bottom: 16px;
	}
	header, footer {
		min-width: 768px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 640px;
	}

	section {
		width: 100%;
		/* For some reason if you don't write that there is no float,
		we don't see the margin of the top of the aside tag */
		float: none;
	}

	.section-content {
		margin-bottom: 0;
	}

	#image-aboutme {
		width: 50%;
	}

	aside {
		clear: both;
		margin-left: 0;
		margin-top: 40px;
		width: 100%;
		text-align: left;
		/* For some reason if you don't write that there is no float,
		we don't see the margin of the bottom of the main tag */
		float: none;

	}
	header, footer {
		min-width: 500px;
	}
}

@media screen and (max-width: 640px) {
	header {
		height: 100%;
		text-align: center;
	}

	#main-logo {
		float: none;
		clear: both;
	}

	#nav-bar {
		float: none;
		clear: both;
		display: inline-block;
		width: 100%;
		padding: 15px;
	}

	li {
		width: 33%;
	}

	#image-aboutme {
		width: 100%;
	}

	section {
		width: 100%;
	}

	header, footer {
		max-width: 640px;
		min-width: 0;
	}

	.container {
		max-width: none;
		width: 100%;
	}
}

/* These handle Portfolio.html */
@media screen and (max-width: 980px) {
	.right-divs {
		position: static;
	}

	#portfolio-section img {
		width:100%;
		height: 230px;
	}
}

@media screen and (max-width: 768px) {
	#portfolio-section div {
		width: 40%;
		margin-bottom: 50px;
	}
	.right-divs {
		margin-left: 57px;
	}
}

@media screen and (max-width: 640px) {
	#portfolio-section div {
		margin-bottom: 50px;
		clear: both;
		width: 100%;
		height: 330px;
	}

	#portfolio-section img {
		width: 100%;
		height: 320px;
	}

	.right-divs {
		margin-left: 0px;
	}

	#portfolio-section p {
		top: 210px;
	}
}